<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<!--    Completar link bootstrap-->
    <title>Lista de Empleados</title>
</head>
<body>
      <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#"> HR </a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          </ul>
        </div>
      </nav>
      <div class="container">
        <p></p>
        <div class="row">
          <div class="col-10"><h2>Lista de Empleados</h2></div>
          <div class="col-2 text-right" >
            <a class="btn btn-outline-info" th:href="@{'/empleado/nuevo'}">+ Añadir</a>
          </div>
        </div>

          <div class="alert alert-dismissible fade show" role="alert">

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <table id="tablax" class="table table-striped ">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Correo</th>
            <th scope="col">Salario</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>

          <tr  th:each="empleado, info : ${listaEmpleados}">
            <td th:text="${info.index + 1}"></td>
            <td th:text="${empleado.firstName}">Nombre</td>
            <td th:text="${empleado.lastName}">Apellido</td>
            <td th:text="${empleado.email}">correo</td>
            <td th:text="${empleado.salary}">salario</td>
            <td ><a class="btn btn-outline-info" href="..." data-toggle="tooltip" data-placement="bottom" title="Editar"></a></td>
            <td><a class="btn btn-outline-danger" href="..." data-toggle="tooltip" data-placement="bottom" title="Borrar"></a></td>
          </tr>

          </tbody>
        </table>
        <script src="<spring:url value="/resources/jquery/jquery-3.3.1.min.js" />"></script>
        <script src="<spring:url value="/resources/bootstrap/js/bootstrap.min.js" />"></script>
      </div>


      <!-- JQUERY -->
      <script src="https://code.jquery.com/jquery-3.4.1.js"
              integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
      </script>
      <!-- DATATABLES -->
      <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
      </script>
      <!-- BOOTSTRAP -->
      <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
      </script>
      <script>
          $(document).ready(function () {
              $('#tablax').DataTable({
                  language: {
                      processing: "Tratamiento en curso...",
                      search: "Buscar&nbsp;:",
                      lengthMenu: "Agrupar de _MENU_ items",
                      info: "Mostrando del item _START_ al _END_ de un total de _TOTAL_ items",
                      infoEmpty: "No existen datos.",
                      infoFiltered: "(filtrado de _MAX_ elementos en total)",
                      infoPostFix: "",
                      loadingRecords: "Cargando...",
                      zeroRecords: "No se encontraron datos con tu busqueda",
                      emptyTable: "No hay datos disponibles en la tabla.",
                      paginate: {
                          first: "Primero",
                          previous: "Anterior",
                          next: "Siguiente",
                          last: "Ultimo"
                      },
                      aria: {
                          sortAscending: ": active para ordenar la columna en orden ascendente",
                          sortDescending: ": active para ordenar la columna en orden descendente"
                      }
                  },
                  scrollY: 400,
                  lengthMenu: [ [10, 25, -1], [10, 25, "All"] ],
              });
          });
      </script>
</body>
</html>